body{
    color: plum;
    background-size: cover;
   background-color: hotpink;
}
.heading{
    font-size: 23px;
    width:100%;
    margin:0px;
}
canvas{
    border: 2px solid deeppink;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px mediumvioletred;
}
#start, #status, #number_of_objects{
    font-size:18px;
}
.copy_right_footer{
    position: fixed;
    color:darkblue;
    bottom: 0;
    width: 100%;
    background-color: deeppink;
    line-height: 3;
    text-align: center;
}
input{
    border-radius: 23px;
}
